{% extends "base.html" %}
{% block content %}

<h1>Wolt</h1>
<p class="lead">User Reviews</p>

<form action="" role="form" method="POST" name="add_task">
	{{form.hidden_tag()}}
	{{form.user_id}}
	<p>
		<h4>Send a review</h4>
		<p>{{form.point}}</p>
		<p>{{form.optional_comment}}</p>
		<input type="submit" value="Send" class="btn btn-default btn-md">
		{% for error in form.errors.label %}
		<span style="color: red;">{{ error }}</span>
		{% endfor %}
	</p>
</form>

<!-- Projects Row -->

<section class="grid">
	{% for review in reviews %}
		<article class="grid-item">
			<img src="http://i.imgur.com/sDLIAZD.png" alt="">
	  		<h4>Point : {{ review.point }}</h4>
	  		<p>Comment : {{ review.optional_comment }}</p>
		</article>
	{% endfor %}
</ul>
{% endblock %}
